
@{
    ViewData["Title"] = "Produto Inexistente";
}

<h1>Inexistente</h1>

<div class="card text-white bg-warning mb-3">
    @*<div class="card-header">ViewBag.Title</div>*@
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Title</h5>
        <p class="card-text">O produto que selecionou já não existe. Possivelmente alguém eliminou o mesmo.</p>

        <div>
            <a class="btn btn-primary" asp-action="Index">Ver Lista de Produtos</a>
        </div>
    </div>

</div>

